@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700%7CMontserrat:400,500,600&display=swap');


div.container-fluid {
  padding-bottom: 2%;
}

div#postdoc {
  margin-bottom: 25px;
  padding-top: 0px;
  padding-left: 10px;
}

div#intro p {
  padding-bottom: 10px;
  margin-top: 0px;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  color: #A51C30;
  text-align: center;
  font-weight: 400;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
}

p {
  line-height: 1.6;
}

p, ul li, ol li, .highlight {
  font-family: 'Merriweather', serif;
  margin-bottom: 0px;
}

div#pubs p {
  margin-left: 20px;
  margin-top: 0;
}

ul li, ol li {
  margin-top: 10px;
}

.indent {
  padding-left: 40px;
}

img {
  max-width: 100%;
}

table {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  line-height: 25px;
}

td {
  vertical-align: top;
  padding-right: 5px;
}

a:link, a:visited, a:hover {
  color: #A51C30!important;
}

/* from css-tricks:  */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.highlight {
  background-color: #ffc9d1;
  padding: 10px;
  padding-left: 0px;
  border-radius: 5px;
  margin-top: 10px;
  border-left: 4px solid #A51C30;
}

div#pubs .highlight {
  margin-left: 20px;
}
