@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700%7CMontserrat:400,500&display=swap');

div.container-fluid {
  padding-bottom: 2%;
}

h1, h2 {
	font-family: 'Montserrat', sans-serif;
	color: #A51C30;
	text-align: center;
  font-weight: 400;
}

h1 {
	font-size: 45px!important;
}

h2 {
	font-size: 30px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  /* text-align: center; */
  font-size: 20px;
}

p, ul li, ol li {
	font-family: 'Merriweather', serif;
	font-size: 18px;
  margin-bottom: 0px;
}

div#talks li {
  font-size: 16px;
}

p {
  margin-top: 20px;
}

ul li, ol li {
  margin-top: 10px;
}

.indent {
  padding-left: 40px;
}

table {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  line-height: 25px;
}

td {
  vertical-align: top;
  padding-right: 5px;
}

a:link, a:visited, a:hover {
	color: #A51C30!important;
}

/* from css-tricks:  */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
