@import url(http://fonts.googleapis.com/css?family=Lato|Droid+Serif|Merriweather|Roboto+Slab:400,700);

div.container-fluid {
  padding-bottom: 2%;
}

h1, h2 {
	font-family: 'Lato', sans-serif;
	color: #A51C30;
	text-align: center;
}

h1 {
	font-size: 45px!important;
	line-height: 54px;
}

h2 {
	font-size: 30px;
	line-height: 36px;
}

h3 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
}

p, ul li {
	font-family: 'Droid Serif', serif;
	font-size: 19px;
	line-height: 25px;
	margin-top: 20px;
  margin-bottom: 0px;
}

.indent {
  padding-left: 40px;
}

table {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  line-height: 25px;
}

td {
  vertical-align: top;
  padding-right: 5px;
}

a:link, a:visited, a:hover {
	color: #A51C30!important;
}

/* from css-tricks:  */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
