@import url(http://fonts.googleapis.com/css?family=Lora|Oswald);

/* Fonts */
h1, h2 {
  font-family: 'Oswald', sans-serif;
  color: #207FA0;
}

h3, div#navbar a:link, div#navbar a:visited {
  font-family: 'Oswald', sans-serif;
  color: #204755;
}

p, li {
  font-family: 'Lora', serif;
  color: #1C1D1D;
}

a:link, a:visited {
  font-family: 'Lora', serif;
  color: #207FA0;
}

a.media {
  font-size: 150%;
}

/* Spacing */
html, body, div.row {
  height: 100%;
  margin-top: 0;
}

div#navbar {
  width: 15%;
  border-right: solid;
  border-color: #204755;
  padding-left: 1%;
}

div#content {
  padding-left: 5%;
  width: 50%;
}

p.indent {
  padding-left: 40px;
}

a.media {
  margin-right: 10px;
}

/* Ungrid */
@media (min-width: 30em) {
  .row { width: 100%; display: table; table-layout: fixed; }
  .col { display: table-cell; }
}

/* Responsive */
@media (min-width: 646px) {
  div#navbar a {
    display: block;
  }
}

@media (max-width: 645px) {
  div#navbar {
    border: none;
  }

  div#spacing {
    display: none;
  }
}

@media (max-width: 480px) {
  body {
    margin: 0;
  }

  div#navbar, div#content {
    padding-left: 2%;
  }

  div#content {
    width: 87%;
  }

  div#navbar {
    width: 100%;
    border-bottom: solid;
    border-color: #204755;
    padding-bottom: 4%;
  }

  div#navbar a {
    display: inline-block;
    padding-right: 1%;
  }
}
