@import url(http://fonts.googleapis.com/css?family=Arimo);

@highlight: #BD2609;
@border: rgb(200, 200, 200);

@media only screen and (max-width: 980px) and (max-height: 900px) {
  body {
    background: none;
  }

  .navbar-nav>li>a {
    line-height: 60px;
  }

  button.navbar-toggle {
    height: 50px;
    width: 50px;
  }

  .navbar-default .navbar-toggle .icon-bar {
    width: 29px;
    height: 4px;
  }

  h1 {
    font-size: 75px;
    padding-top: 15px;
  }

  p, div#content>ul>li {
    font-size: 50px;
  }
}

body {
  // Background image: Eight Horns by Patutin Sergey, found on subtlepatterns.com
  background: url('/img/eight_horns.png');
}

div#bucket {
  margin: 2.5% 0 2.5% 0;
  height: 100%;
  width: 100%;
}

div.container-narrow {
  height: 100%;
  width: 100%;
  background: #FFF;
  padding: 0% 1% 1% 2%;
  border: transparent;
  border-radius: 15px;
}

h1 {
  font-family: 'Arimo', sans-serif!important;
  padding: 0px 0px 10px 0px;
  margin: 0px!important;
  font-size: 257%!important;
}

h2 {
  font-size: 1.5em!important;
  margin-top: 5px!important;
}

.fa {
  font-size: larger!important;
}

p, li {
  font-size: larger;
  padding-bottom: 5px;
}

a:link {
  color: @highlight!important;
}

a:visited {
  color: @highlight!important;
}

nav {
  background-color: transparent!important;
  background-image: none!important;

  box-shadow: none!important;
  border-bottom: 1px solid @border!important;
  border-top: transparent!important;
  border-left: transparent!important;
  border-right: transparent!important;
  border-radius: 0px!important;

  margin: 10px 0 10px 0!important;
}

.navbar-nav li a {
  padding-bottom: 5px!important;
}

button.navbar-toggle {
  height: inherit;
  width: inherit;
}

.navbar-default .navbar-toggle .icon-bar {
  width: 22px;
  height: 2px;
}