doctype html
html(lang="en")
  head
    title Alisha Ukani

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")

  body
    div(class="row")
      div(class="col-md-12 container")
        div(class="col-md-4")
          h1 Alisha Ukani
          h2(class="section")
            a(href="edu") Education
          h2(class="section")
            a(href="awards") Awards
          h2(class="section")
            a(href="work") Work
          h2(class="section")
            a(href="cs") Computer Science Skills and Projects
          h2(class="section")
            a(href="clubs") Clubs and Organizations

        div(class="col-md-8" id="content")
          p 
            | Hi. I'm a nerd and junior at Weston High School in Weston, MA. I like 
            a(href="#work") molecular biology
            |  and 
            a(href="cs") computer science
            | . My mission is to make the world a better place, which for now is focused on making education more accessible around the world.

    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")