h1 Computer Science Overview

div(id="content")
  
  ul
    li
      | I'm a National Award Runner-Up and Massachusetts Affiliate Winner for the National Center for Women & IT's 
      a(href="http://aspirations.org") Aspirations in Computing award
      | ! I'm so honored to be part of the select group to receive this award.

    li
      | I'm a member of 
      a(href="http://codeforboston.org") Code for Boston
      | , a Code for America brigade. I created the 
      a(href="https://github.com/codeforboston/CutePetsBoston/wiki/Setting-Up-a-Twitter-Bot") documentation
      |  for the 
      a(href="https://twitter.com/CutePetsBoston") CutePets Twitter bots
      | , and I'm currently working on 
      a(href="http://codeforboston.github.io/ungentry") Ungentry

    li I've been coding since the start of freshman year (September 2012) when I decided to take AP Computer Science. Since then, I've taken 2 amazing CS courses at Harvard University.

    li Programming and markup languages I know: Ruby, Python, PHP, JavaScript, CoffeeScript, HTML, Jade, Markdown, CSS, Less, C, Java, and Racket

    li Frameworks, libraries, APIs, and tools I know: Laravel, Ruby on Rails, jQuery, Bootstrap, Harp, and Twilio.

    li I've been to Y Combinator's Startup School in New York in June 2014, and I'm going to Y Combinator's Female Founders Conference in San Francisco in February 2015

    li
      | I like to go to hackathons! I've been to: 
      a(href="https://hackpad.com/Hack4Congress-kiKLDML5Rr9") #Hack4Congress
      |  (Cambridge, MA - January 2015), 
      a(href="http://hackthenorth.com") Hack the North
      |  (Waterloo, Canada - September 2014),  
      a(href="https://codeday.org/boston") CodeDay Boston
      |  (Boston, MA - November 2014, May 2014), and 
      a(href="https://codeday.org/sf") CodeDay San Francisco
      |  (San Francisco, CA - February 2015).

    li
      | I like to 
      a(href="projects") build cool things