@import url(http://fonts.googleapis.com/css?family=Lato|Playfair+Display:400,700);

body {
	background-image: url('../concrete_seamless.png');
}

div#content {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 25px;

  margin-top: 20px;
  margin-bottom: 20px;
	padding: 0px 20px 10px 20px;
}

h1, h2 {
	font-family: 'Lato', sans-serif;
	color: #3F9094;
	text-align: center;
}

h1 {
	font-size: 45px!important;
	line-height: 54px;
}

h2 {
	font-size: 30px;
	line-height: 36px;
}

h3 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
}

p, ul li {
	font-family: 'Playfair Display', serif;
	font-size: 19px;
	line-height: 25px;
	margin-top: 20px;
  margin-bottom: 0px;
}

p.indent {
  padding-left: 40px;
}

table {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  line-height: 25px;
}

td {
  vertical-align: top;
  padding-right: 5px;
}

a:link, a:visited {
	color: #3F9094;
}
